.item {
  width: 180px;
  margin-bottom: 4px;
  padding: 8px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #fff;
  > a {
    display: block;
    margin: -8px -8px -11px;
    padding: 8px 8px 11px;
    border-radius: inherit;
    color: #777;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
      opacity: 0.8;
    }
  }
  .image {
    display: block;
    width: 100%;
    height: 109px;
  }
  .category {
    margin: 15px 9px 10px;
    color: #aaa;
    letter-spacing: 1px;
    font-family: "Trebuchet MS", $font-family;
    &::before {
      content: '';
      display: inline-block;
      width: 19px;
      height: 19px;
      margin-right: 5px;
      border: 2px solid;
      border-radius: 50%;
      vertical-align: -5px;
    }
  }
  .description {
    margin: 10px;
    line-height: 1.5;
  }
  &-maindish {
    &,
    & .category::before {
      border-color: #ffc0cb;
    }
  }
  &-appetizer {
    &,
    & .category::before {
      border-color: #76c047;
    }
  }
  &-column {
    &,
    & .category::before {
      border-color: #fff100;
    }
  }
  &-breaktime {
    &,
    & .category::before {
      border-color: #c1efff;
    }
  }
  &-m {
    width: 364px;
    .image {
      height: 146px;
    }
  }
  &-l {
    width: 732px;
    .image {
      height: 403px;
    }
  }
}
