.nav {
  margin: 35px auto 10px;
  &-item {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.3rem;
    a {
      display: inline-block;
      &::after {
        content: '';
        display: block;
        width: 0;
        margin: 6px auto 0;
        border-bottom: 1px solid #7c5119;
        transition: width 0.3s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}
