doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title グリッドレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    include partials/header
    include partials/items

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/masonry.js')
    // endbuild
