doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title グリッドレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    include partials/header
    include partials/items


    script(src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js')
    // build:js scripts/main.js
    script(src='scripts/masonry.js')
    // endbuild
