doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title グリッドレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    - items = {}
    - items[0] = {image: 'image_S_1', alt: 'メインディッシュ', category: 'MAIN DISH', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[1] = {image: 'image_S_2', alt: '前菜', category: 'APPETIZER', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}
    - items[2] = {image: 'image_S_3', alt: 'コラム', category: 'COLUMN', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
    - items[3] = {image: 'image_S_4', alt: 'おやつの時間', category: 'BREAK TIME', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'}

    each item, i in items
      section.item
        a(href="#")
          img.image(src="images/#{item.image}.jpg" alt="#{item.alt}")
          .category= item.category
          p.description= item.description

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/masonry.js')
    // endbuild
